#wrapper {
    background-image: url('../../assets/images/backgrounds/sailing-boat.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    transition: background-color var(--theme-delay);
}

#leftbar, #rightbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 4rem;
    padding: 0 0.5rem 4rem 0.5rem;
}

#rightbar {
    margin: auto 0 0 0;
}

#topbar {
    align-items: center;
    background-color: rgba(0, 0, 0, 60%);
    display: flex;
    flex-direction: row;
    padding: 0.8125rem 6rem 0.8125rem 6rem;
}

#center {
    background-color: rgba(0, 0, 0, 60%);
    display: flex;
    flex-direction: row;
    height: 100%;
}

#main {
    width: 100%;
}

#outer-content {
    height: 100%;
}