#wrapper {
    background-color: var(--color-background);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
    transition: background-color var(--theme-delay);
}

#main {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    width: 100%;
}

#sidebar-toggler {
    position: absolute;
    top: 2.5625rem;
}

#outer-content {
    height: 100%;
}

.mat-drawer-container {
    overflow: hidden !important;
    position: static !important;
}

#sidenav {
    background-color: var(--color-background);
    padding: 1.5rem;
    transition: background-color var(--theme-delay);
}