#wrapper {
    background-color: var(--color-background);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
    transition: background-color var(--theme-delay);
}

#main {
    padding: 24px 24px 24px 24px;
    width: 100%;
}

#outer-content {
    height: 100%;
}