#button-wrapper {
    padding: 0.3125rem 0.3125rem 0.3125rem 0.3125rem !important;
}

.mat-mdc-menu-item {
    min-height: 2rem !important;
}

.mat-mdc-menu-item-text {
    margin-top: 0.25rem !important;
}