<div *ngIf=isLoggedIn() id="button-wrapper">
    <button [matMenuTriggerFor]="menu" class="fab fab-with-no-background" mat-icon-button [matTooltip]="getLabel('expenses-menu-tooltip')" matTooltipPosition="right">
        <mat-icon class="material-icons-outlined">person</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="primary">
        <button (click)="doNavigation('suppliers',true)" mat-menu-item><span>{{ getLabel('suppliers') }}</span></button>
        <button (click)="doNavigation('invoices',true)" mat-menu-item><span>{{ getLabel('expenses') }}</span></button>
        <button (click)="doNavigation('ledgers',true)" mat-menu-item><span>{{ getLabel('ledger') }}</span></button>
        <button (click)="doNavigation('balanceSheet',true)" mat-menu-item><span>{{ getLabel('balanceSheet') }}</span></button>
        <button (click)="doNavigation('statistics',true)" mat-menu-item><span>{{ getLabel('statistics') }}</span></button>
    </mat-menu>
</div>