<div id="list-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [featureIcon]="featureIcon" [feature]="feature" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        </div>

        <div id="table-wrapper">
            <p-table #table (onFilter)="onFilterRecords($event)" [(selection)]="selectedRecords" [scrollable]="true" [value]="records" [virtualScrollItemSize]="32" [virtualScroll]="true" dataKey="id" scrollHeight="flex" selectionMode="multiple" sortMode="multiple" stateKey="priceList-filters" stateStorage="session">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="no-border-bottom width-3"></th>
                        <th class="no-border-bottom width-10" pSortableColumn="hullType.description">{{ getLabel('headerHullType') }}</th>
                        <th class="no-border-bottom width-auto" pSortableColumn="description">{{ getLabel("headerDescription") }}</th>
                        <th class="no-border-bottom width-auto" pSortableColumn="englishDescription">{{ getLabel("headerEnglishDescription") }}</th>
                        <th class="no-border-bottom width-8" pSortableColumn="netAmount">{{ getLabel("headerNetAmount") }}</th>
                        <th class="no-border-bottom width-8" pSortableColumn="vatAmount">{{ getLabel("headerVatAmount") }}</th>
                        <th class="no-border-bottom width-8" pSortableColumn="grossAmount">{{ getLabel("headerGrossAmount") }}</th>
                    </tr>
                    <tr>
                        <th class="no-border-top width-3"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                        <th class="no-border-top width-10">
                            <p-columnFilter [showMenu]="false" field="hullType" matchMode="in">
                                <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                                    <p-multiSelect (onChange)="filter($event.value)" [ngModel]="value" [options]="distinctHullTypes" [placeholder]="getEmoji('wildcard')" optionLabel="description">
                                        <ng-template let-option pTemplate="item">
                                            <div class="p-multiselect-option">
                                                <span>{{ option.description }}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th class="no-border-top width-auto"><p-columnFilter (input)="onFilter($event.target.value,'description','contains')" field="description"></p-columnFilter></th>
                        <th class="no-border-top width-auto"><p-columnFilter (input)="onFilter($event.target.value,'englishDescription','contains')" field="englishDescription"></p-columnFilter></th>
                        <th class="no-border-top width-8"><p-columnFilter (input)="onFilter($event.target.value,'netAmount','contains')" field="netAmount"></p-columnFilter></th>
                        <th class="no-border-top width-8"><p-columnFilter (input)="onFilter($event.target.value,'vatAmount','contains')" field="vatAmount"></p-columnFilter></th>
                        <th class="no-border-top width-8"><p-columnFilter (input)="onFilter($event.target.value,'grossAmount','contains')" field="grossAmount"></p-columnFilter></th>
                    </tr>
                </ng-template>
                <ng-template let-record pTemplate="body">
                    <tr (click)="onHighlightRow(record.id)" (dblclick)="onEditRecord(record.id)" [attr.id]=record.id style="height: 32px;">
                        <td class="width-3"><span class="center no-overflow" style="padding-top: 0.25rem !important;"><p-tableCheckbox [value]="record"></p-tableCheckbox></span></td>
                        <td class="width-10"><span>{{ record.hullType.description }}</span></td>
                        <td class="width-auto"><span>{{ record.description }}</span></td>
                        <td class="width-auto"><span>{{ record.englishDescription }}</span></td>
                        <td class="width-8"><span class="number right with-right-padding">{{ formatNumberToLocale(record.netAmount) }}</span></td>
                        <td class="width-8"><span class="number right with-right-padding">{{ formatNumberToLocale(record.vatAmount) }}</span></td>
                        <td class="width-8"><span class="number right with-right-padding">{{ formatNumberToLocale(record.grossAmount) }}</span></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>

    <div id="footer">
        <table-total-filtered-records (resetTableFilters)="onResetTableFilters()" [filteredRecordCount]="recordsFilteredCount" [mustShowSelectedFilteredCount]="true" [recordCount]="records.length" [selectedRecordCount]="selectedRecords.length"></table-total-filtered-records>
        <div id="align-right">
            <button (click)="newRecord()" class="primary" mat-flat-button>{{ getLabel("newRecord") | uppercase }}</button>
        </div>
    </div>

</div>