<div id="form-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [header]="getNewOrEditHeader()" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        </div>

        <form [formGroup]="form" id="form">
            <mat-tab-group mat-stretch-tabs="false">
                <mat-tab label="{{ getLabel('tab1') }}">
                    <div id="general-tab">
                        <div class="group-input-field">
                            <mat-form-field>
                                <mat-label>{{ getLabel('boatName') }}</mat-label>
                                <input [inputTabStop]="input" dataTabIndex="1" formControlName="boatName" matInput>
                                <mat-error *ngIf="boatName.hasError('required')">{{ getHint("required") }}</mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{ getLabel('length') }}</mat-label>
                                <input [inputTabStop]="input" dataTabIndex="2" formControlName="loa" matInput>
                                <mat-error *ngIf="loa.hasError('required')">{{ getHint("required") }}</mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{ getLabel('beam') }}</mat-label>
                                <input [inputTabStop]="input" dataTabIndex="3" formControlName="beam" matInput>
                                <mat-error *ngIf="beam.hasError('required')">{{ getHint("required") }}</mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{ getLabel('draft') }}</mat-label>
                                <input [inputTabStop]="input" dataTabIndex="4" formControlName="draft" matInput>
                                <mat-error *ngIf="draft.hasError('required')">{{ getHint("required") }}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="group-input-field">
                            <mat-form-field>
                                <mat-label>{{ getLabel('fromDate') }}</mat-label>
                                <input [inputTabStop]="input" [matDatepicker]="fromDatePicker" dataTabIndex="5" formControlName="fromDate" matInput>
                                <mat-datepicker-toggle matIconSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #fromDatePicker></mat-datepicker>
                                <mat-error *ngIf="fromDate.hasError('required')">{{ getHint("required") }}</mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{ getLabel('toDate') }}</mat-label>
                                <input [inputTabStop]="input" [matDatepicker]="toDatePicker" dataTabIndex="6" formControlName="toDate" matInput>
                                <mat-datepicker-toggle matIconSuffix [for]="toDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #toDatePicker></mat-datepicker>
                                <mat-error *ngIf="toDate.hasError('required')">{{ getHint("required") }}</mat-error>
                            </mat-form-field>
                        </div>
                        <div formArrayName="berths">
                            <div class="group-input-field">
                                <div *ngFor="let berth of berthsArray; let i = index">
                                    <div [formGroupName]="i">
                                        <mat-form-field>
                                            <mat-label>{{ getLabel("berth") }}</mat-label>
                                            <input [inputTabStop]="input" dataTabIndex="8" formControlName="description" matInput>
                                            <div *ngIf="berthsArray.length > 1" matSuffix style="display:flex">
                                                <button (click)="onRemoveBerth(i)" mat-icon-button type="button">
                                                    <mat-icon class="input-suffix material-icons-outlined">close</mat-icon>
                                                </button>
                                            </div>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <span (click)="onAddBerthTextBox()" id="add-berth-button">
                                    <mat-icon class="material-icons-outlined">add</mat-icon>
                                </span>
                            </div>
                        </div>
                        <div>
                            <mat-form-field>
                                <mat-label>{{ getLabel("remarks") }}</mat-label>
                                <textarea #input formControlName="remarks" id="textarea" matInput></textarea>
                                <mat-hint class="right">{{ getHint("remainingCharacters", +input.getAttribute('maxlength') - getRemarksLength()) }}</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="stacked-checkboxes">
                            <mat-checkbox formControlName="isAthenian">
                                <span>{{ getLabel("isAthenian") }}</span>
                            </mat-checkbox>
                            <mat-checkbox formControlName="isDocked">
                                <span>{{ getLabel("isDocked") }}</span>
                            </mat-checkbox>
                            <mat-checkbox formControlName="isLongTerm">
                                <span>{{ getLabel("isLongTerm") }}</span>
                            </mat-checkbox>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="{{ getLabel('tab2') }}">
                    <div class="group-input-field">
                        <mat-form-field>
                            <mat-label>{{ getLabel('flag') }}</mat-label>
                            <input [inputTabStop]="input" dataTabIndex="6" formControlName="flag" matInput>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{ getLabel('registryPort') }}</mat-label>
                            <input [inputTabStop]="input" dataTabIndex="7" formControlName="registryPort" matInput>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{ getLabel('registryNo') }}</mat-label>
                            <input [inputTabStop]="input" dataTabIndex="8" formControlName="registryNo" matInput>
                        </mat-form-field>
                    </div>
                    <div class="group-input-field">
                        <mat-form-field>
                            <mat-label>{{ getLabel('boatType') }}</mat-label>
                            <input [inputTabStop]="input" dataTabIndex="9" formControlName="boatType" matInput>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{ getLabel('boatUsage') }}</mat-label>
                            <input [inputTabStop]="input" dataTabIndex="10" formControlName="boatUsage" matInput>
                        </mat-form-field>
                    </div>
                </mat-tab>
                <mat-tab label="{{ getLabel('tab3') }}">
                    <div id="financial-tab">
                        <div class="group-input-field">
                            <mat-form-field>
                                <mat-label>{{ getLabel('netAmount') }}</mat-label>
                                <input [inputTabStop]="input" currencyMask dataTabIndex="11" formControlName="netAmount" matInput>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{ getLabel('vatAmount') }}</mat-label>
                                <input [inputTabStop]="input" currencyMask dataTabIndex="12" formControlName="vatAmount" matInput>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{ getLabel('grossAmount') }}</mat-label>
                                <input [inputTabStop]="input" currencyMask dataTabIndex="13" formControlName="grossAmount" matInput>
                            </mat-form-field>
                        </div>
                        <mat-form-field>
                            <mat-label>{{ getLabel('paymentStatus') }}</mat-label>
                            <input #inputAutoComplete #triggerPaymentStatus="matAutocompleteTrigger" (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="paymentStatuses" dataTabIndex="8" formControlName="paymentStatus" matInput>
                            <div matSuffix style="display:flex">
                                <button (click)="openOrCloseAutoComplete(triggerPaymentStatus, 'paymentStatus')" mat-icon-button type="button">
                                    <mat-icon class="input-suffix material-icons-outlined">expand_more</mat-icon>
                                </button>
                            </div>
                            <mat-error *ngIf="paymentStatus.hasError('required')">{{ getHint("required") }}</mat-error>
                            <mat-error *ngIf="!paymentStatus.hasError('required') && paymentStatus.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{ getLabel("remarks") }}</mat-label>
                            <textarea #input formControlName="financialRemarks" id="textarea" matInput></textarea>
                            <mat-hint class="right">{{ getHint("remainingCharacters", +input.getAttribute('maxlength') - getFinancialRemarksLength()) }}</mat-hint>
                        </mat-form-field>
                    </div>
                </mat-tab>
                <mat-tab label="{{ getLabel('tab4') }}">
                    <div id="lease-tab">
                        <div class="group-input-field">
                            <mat-form-field>
                                <mat-label>{{ getLabel('insuranceCompany') }}</mat-label>
                                <input [inputTabStop]="input" dataTabIndex="3" formControlName="insuranceCompany" matInput>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{ getLabel('policyNo') }}</mat-label>
                                <input [inputTabStop]="input" dataTabIndex="4" formControlName="policyNo" matInput>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{ getLabel('policyEnds') }}</mat-label>
                                <input [inputTabStop]="input" dataTabIndex="5" formControlName="policyEnds" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="{{ getLabel('tab5') }}">
                    <div id="tab-content">
                        <div id="ownwer-tab">
                            <div id="owner-tab-header">
                                <span class="label">Owner details</span>
                            </div>
                            <mat-form-field>
                                <mat-label>{{ getLabel('owner') }}</mat-label>
                                <input [inputTabStop]="input" dataTabIndex="1" formControlName="ownerName" matInput>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{ getLabel('address') }}</mat-label>
                                <input [inputTabStop]="input" dataTabIndex="2" formControlName="ownerAddress" matInput>
                            </mat-form-field>
                            <div class="group-input-field">
                                <mat-form-field>
                                    <mat-label>{{ getLabel('taxNo') }}</mat-label>
                                    <input [inputTabStop]="input" dataTabIndex="3" formControlName="ownerTaxNo" matInput>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>{{ getLabel('taxOffice') }}</mat-label>
                                    <input [inputTabStop]="input" dataTabIndex="4" formControlName="ownerTaxOffice" matInput>
                                </mat-form-field>
                            </div>
                            <mat-form-field>
                                <mat-label>{{ getLabel('passportNo') }}</mat-label>
                                <input [inputTabStop]="input" dataTabIndex="5" formControlName="ownerPassportNo" matInput>
                            </mat-form-field>
                            <div class="group-input-field">
                                <mat-form-field>
                                    <mat-label>{{ getLabel('phones') }}</mat-label>
                                    <input [inputTabStop]="input" dataTabIndex="6" formControlName="ownerPhones" matInput>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>{{ getLabel('email') }}</mat-label>
                                    <input [inputTabStop]="input" dataTabIndex="7" formControlName="ownerEmail" matInput>
                                </mat-form-field>
                            </div>
                        </div>
                        <div id="billing-tab">
                            <div id="billing-tab-header">
                                <span class="label">Invoice details</span>
                                <button (click)="copyOwnerToBilling()" id="copy-owner-to-billing" mat-icon-button type="button">
                                    <mat-icon class="input-suffix material-icons-outlined">content_paste</mat-icon>
                                </button>
                            </div>
                            <mat-form-field>
                                <mat-label>{{ getLabel('owner') }}</mat-label>
                                <input [inputTabStop]="input" dataTabIndex="8" formControlName="billingName" matInput>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>{{ getLabel('address') }}</mat-label>
                                <input [inputTabStop]="input" dataTabIndex="9" formControlName="billingAddress" matInput>
                            </mat-form-field>
                            <div class="group-input-field">
                                <mat-form-field>
                                    <mat-label>{{ getLabel('taxNo') }}</mat-label>
                                    <input [inputTabStop]="input" dataTabIndex="10" formControlName="billingTaxNo" matInput>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>{{ getLabel('taxOffice') }}</mat-label>
                                    <input [inputTabStop]="input" dataTabIndex="11" formControlName="billingTaxOffice" matInput>
                                </mat-form-field>
                            </div>
                            <mat-form-field>
                                <mat-label>{{ getLabel('passportNo') }}</mat-label>
                                <input [inputTabStop]="input" dataTabIndex="12" formControlName="billingPassportNo" matInput>
                            </mat-form-field>
                            <div class="group-input-field">
                                <mat-form-field>
                                    <mat-label>{{ getLabel('phones') }}</mat-label>
                                    <input [inputTabStop]="input" dataTabIndex="13" formControlName="billingPhones" matInput>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>{{ getLabel('email') }}</mat-label>
                                    <input [inputTabStop]="input" dataTabIndex="14" formControlName="billingEmail" matInput>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
            <div class="align-bottom">
                <!-- Metadata -->
                <metadata-panel [feature]="feature" [postAt]="form.value.postAt" [postUser]="form.value.postUser" [putAt]="form.value.putAt" [putUser]="form.value.putUser"></metadata-panel>
            </div>
        </form>

    </div>

    <div id="footer">
        <div id="align-right">
            <button *ngIf="form.value.reservationId != ''" (click)="onDelete()" [disabled]="!isAdmin()" class="delete" mat-flat-button>
                <span>{{ getLabel('deleteButton') | uppercase }}</span>
            </button>
            <button (click)="onSave()" [disabled]="!form.valid || !isAdmin()" class="primary" mat-flat-button>
                <mat-icon *ngIf="!form.valid" class="material-icons-outlined">lock</mat-icon>
                <span>{{ getLabel("saveButton") | uppercase }}</span>
            </button>
        </div>
    </div>

</div>

<mat-autocomplete #paymentStatuses="matAutocomplete" [displayWith]="autocompleteFields.bind(this, 'description')" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownPaymentStatuses | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>