.green {
    color: #39a4d9;
    font-size: 0.6875rem !important
}

.yellow {
    color: #afaf02;
    font-size: 0.6875rem !important
}

.red {
    color: #fb5e5e;
    font-size: 0.6875rem !important
}

.small-icon {
    font-size: 1rem;
    padding: 0.25rem 0 0 0;
}