<div id="list-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [featureIcon]="featureIcon" [feature]="feature" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        </div>

        <div id="table-wrapper">
            <p-contextMenu #contextMenu [model]="menuItems"></p-contextMenu>
            <p-table #table (onFilter)="onFilterRecords($event)" [(contextMenuSelection)]="selectedRecord" [contextMenu]="contextMenu" [scrollable]="true" [value]="records" [virtualScrollItemSize]="32" [virtualScroll]="true" dataKey="reservationId" scrollHeight="flex" selectionMode="single" sortMode="multiple">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="no-border-bottom width-10" pSortableColumn="boatName">{{ getLabel("headerBoatName") }}</th>
                        <th class="no-border-bottom width-10" pSortableColumn="customer">{{ getLabel("headerCustomer") }}</th>
                        <th class="no-border-bottom width-5" pSortableColumn="loa">{{ getLabel("headerLength") }}</th>
                        <th class="no-border-bottom width-4" pSortableColumn="fromDate">{{ getLabel("headerFromDate") }}</th>
                        <th class="no-border-bottom width-4" pSortableColumn="toDate">{{ getLabel("headerToDate") }}</th>
                        <th class="no-border-bottom width-4" pSortableColumn="days">{{ getLabel("headerDays") }}</th>
                        <th class="no-border-bottom width-4" pSortableColumn="joinedPiers">{{ getLabel("headerPiers") }}</th>
                        <th class="no-border-bottom width-5" pSortableColumn="paymentStatusDescription">{{ getLabel("headerPaymentStatus") }}</th>
                        <th class="no-border-bottom width-5" pSortableColumn="isOverdue">{{ getLabel("headerIsOverdue") }}</th>
                    </tr>
                    <tr>
                        <th class="no-border-top width-10"><p-columnFilter (input)="onFilter($event.target.value,'boatName','contains')" field="boatName"></p-columnFilter></th>
                        <th class="no-border-top width-10"><p-columnFilter (input)="onFilter($event.target.value,'customer','contains')" field="customer"></p-columnFilter></th>
                        <th class="no-border-top width-5"><p-columnFilter (input)="onFilter($event.target.value,'loa','contains')" field="loa"></p-columnFilter></th>
                        <th class="no-border-top width-4"><p-columnFilter (input)="onFilter($event.target.value,'fromDate','contains')" field="fromDate"></p-columnFilter></th>
                        <th class="no-border-top width-4"><p-columnFilter (input)="onFilter($event.target.value,'toDate','contains')" field="toDate"></p-columnFilter></th>
                        <th class="no-border-top width-4"><p-columnFilter (input)="onFilter($event.target.value,'days','contains')" field="days"></p-columnFilter></th>
                        <th class="no-border-top width-4"><p-columnFilter (input)="onFilter($event.target.value,'joinedPiers','contains')" field="joinedPiers"></p-columnFilter></th>
                        <th class="no-border-top width-5"><p-columnFilter (input)="onFilter($event.target.value,'paymentStatusDescription','contains')"field="paymentStatusDescription"></p-columnFilter></th>
                        <th class="no-border-top width-5"><p-columnFilter field="isOverdue" type="boolean"></p-columnFilter></th>
                    </tr>
                </ng-template>
                <ng-template let-record pTemplate="body">
                    <tr (click)="onHighlightRow(record.reservationId)" (contextmenu)="onHighlightRow(record.reservationId)" (dblclick)="onEditRecord(record.reservationId)" [attr.id]=record.reservationId [pContextMenuRow]="record" style="height: 32px;">
                        <td class="width-10"><span>{{ record.boatName }}</span></td>
                        <td class="width-10"><span>{{ record.customer }}</span></td>
                        <td class="width-5"><span class="center">{{ record.loa }}</span></td>
                        <td class="width-4"><span class="center no-overflow">{{ formatDateToLocale(record.fromDate,false,true) }}</span></td>
                        <td class="width-4"><span class="center no-overflow">{{ formatDateToLocale(record.toDate,false,true) }}</span></td>
                        <td class="width-4"><span class="center no-overflow">{{ record.days }}</span></td>
                        <td class="width-4"><span>{{ record.joinedPiers }}</span></td>
                        <td class="width-5"><span [ngClass]="getPaymentDescriptionColor(record.paymentStatusDescription)" class="center no-left-padding no-overflow" style="font-size: 0.5rem; padding-top: 0 !important;">{{ record.paymentStatusDescription | uppercase }}</span></td>
                        <td class="width-5"><span class="center no-left-padding no-overflow red" style="font-size: 0.75rem; padding-top: 0 !important;">{{ getOverdueDescription(record.isOverdue) }}</span></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>

    <div id="footer">
        <table-total-filtered-records (resetTableFilters)="onResetTableFilters()" [filteredRecordCount]="recordsFilteredCount" [recordCount]="records.length"></table-total-filtered-records>
        <div id="align-right">
            <button (click)="onNewRecord()" class="primary" mat-flat-button>{{ getLabel("newRecord") | uppercase }}</button>
        </div>
    </div>

</div>