<div id="list-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [featureIcon]="featureIcon" [feature]="feature" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
            <form [formGroup]="form">
                <p-selectButton (click)="filterBySelection()" [options]="berthAvailabilityOptions" formControlName="value" optionLabel="label" optionValue="value" />
            </form>
        </div>

        <div id="knobs-and-table">

            <div id="knobs">
                <div class="knob">
                    <span class="label">{{ getLabel("occupied") }}</span>
                    <p-knob [(ngModel)]="isOccupied" [disabled]="true" [rangeColor]="getKnobBackgroundColor()" [size]="80" [strokeWidth]="10" textColor=var(--color-text) valueColor="#e3283a" />
                </div>
                <div class="knob">
                    <span class="label">{{ getLabel("dryDock") }}</span>
                    <p-knob [(ngModel)]="isDryDock" [disabled]="true" [rangeColor]="getKnobBackgroundColor()" [size]="80" [strokeWidth]="10" textColor=var(--color-text) valueColor="#f3bf08" />
                </div>
                <div class="knob">
                    <span class="label">{{ getLabel("fishingBoats") }}</span>
                    <p-knob [(ngModel)]="isFishingBoat" [disabled]="true" [rangeColor]="getKnobBackgroundColor()" [size]="80" [strokeWidth]="10" textColor=var(--color-text) valueColor="#00ff80" />
                </div>
                <div class="knob">
                    <span class="label">{{ getLabel("athenian") }}</span>
                    <p-knob [(ngModel)]="isAthenian" [disabled]="true" [rangeColor]="getKnobBackgroundColor()" [size]="80" [strokeWidth]="10" textColor=var(--color-text) valueColor="#80c9ff" />
                </div>
                <div class="knob">
                    <span class="label">{{ getLabel("available") }}</span>
                    <p-knob [(ngModel)]="isAvailable" [disabled]="true" [rangeColor]="getKnobBackgroundColor()" [size]="80" [strokeWidth]="10" textColor=var(--color-text) valueColor="#28e3d1" />
                </div>
            </div>

            <div id="table-wrapper">
                <p-table #table (onFilter)="onFilterRecords($event)" [(selection)]="selectedRecords" [scrollable]="true" [value]="records" [virtualScrollItemSize]="32" [virtualScroll]="true" dataKey="id" scrollHeight="flex" selectionMode="single" sortMode="multiple">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="no-border-bottom width-3"></th>
                            <th class="no-border-bottom width-6" pSortableColumn="berth">{{ getLabel("headerDescription") }}</th>
                            <th class="no-border-bottom width-auto" pSortableColumn="boatName">{{ getLabel("headerBoatName") }}</th>
                            <th class="no-border-bottom width-6" pSortableColumn="isDryDock">{{ getLabel("headerIsDryDock") }}</th>
                            <th class="no-border-bottom width-6" pSortableColumn="isAthenian">{{ getLabel("headerIsAthenian") }}</th>
                            <th class="no-border-bottom width-6" pSortableColumn="isFishingBoat">{{ getLabel("headerIsFishingBoat") }}</th>
                            <th class="no-border-bottom width-6" pSortableColumn="toDate">{{ getLabel("headerToDate") }}</th>
                        </tr>
                        <tr>
                            <th class="no-border-top width-3"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                            <th class="no-border-top width-6"><p-columnFilter (input)="onFilter($event.target.value,'berth','contains')" field="berth"></p-columnFilter></th>
                            <th class="no-border-top width-auto"><p-columnFilter (input)="onFilter($event.target.value,'boatName','contains')" field="boatName"></p-columnFilter></th>
                            <th class="no-border-top width-6"><p-columnFilter field="isDryDock" type="boolean"></p-columnFilter></th>
                            <th class="no-border-top width-6"><p-columnFilter field="isAthenian" type="boolean"></p-columnFilter></th>
                            <th class="no-border-top width-6"><p-columnFilter field="isFishingBoat" type="boolean"></p-columnFilter></th>
                            <th class="no-border-top width-6"><p-columnFilter (input)="onFilter($event.target.value,'toDate','contains')" field="toDate"></p-columnFilter></th>
                        </tr>
                    </ng-template>
                    <ng-template let-record pTemplate="body">
                        <tr (click)="onHighlightRow(record.id)" [attr.id]=record.id [pContextMenuRow]="record" style="height: 32px;">
                            <td class="width-3"><span class="center no-overflow" style="padding-top: 0.25rem !important;"><p-tableCheckbox [value]="record"></p-tableCheckbox></span></td>
                            <td class="width-6"><span class="center">{{ record.berth }}</span></td>
                            <td class="width-auto"><span><mat-icon [ngClass]="getColor(record.boatName, record.isDryDock)" class="material-icons-outlined">{{ getIcon() }}</mat-icon>{{ getBoatName(record.boatName) }}</span></td>
                            <td class="width-6">
                                <span class="center no-left-padding no-overflow">
                                    <mat-icon class="material-icons-outlined color-blue" style="font-size: 14px; margin-top: 8px;">{{ getStar(record.isDryDock) }}</mat-icon>
                                </span>
                            </td>
                            <td class="width-6">
                                <span class="center no-left-padding no-overflow">
                                    <mat-icon class="material-icons-outlined color-blue" style="font-size: 14px; margin-top: 8px;">{{ getStar(record.isAthenian) }}</mat-icon>
                                </span>
                            </td>
                            <td class="width-6">
                                <span class="center no-left-padding no-overflow">
                                    <mat-icon class="material-icons-outlined color-blue" style="font-size: 14px; margin-top: 8px;">{{ getStar(record.isFishingBoat) }}</mat-icon>
                                </span>
                            </td>
                            <td class="width-6"><span class="center no-overflow">{{ formatDateToLocale(record.toDate,false,true,true) }}</span></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

        </div>

    </div>

    <div id="footer">
        <table-total-filtered-records (resetTableFilters)="onResetTableFilters()" [filteredRecordCount]="recordsFilteredCount" [mustShowSelectedFilteredCount]="true" [recordCount]="records.length" [selectedRecordCount]="selectedRecords.length"></table-total-filtered-records>
        <div id="align-right">
            <button (click)="onNewRecord()" [disabled]="!isAdmin()" class="primary" mat-flat-button>{{ getLabel("newRecord") | uppercase }}</button>
        </div>
    </div>

</div>