@model API.Features.Reservations.Transactions.EmailReservationTemplateVM

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>

<body>
    <div id="wrapper">
        <p style="font-family: Tahoma; font-size: 13px;">👋 Dear guests,</p>
        <div style="font-family: Tahoma; font-size: 13px;">Attached you'll find the official invoice and the lease agreement for your records. You’ll also find the Wi-Fi credentials, pillar card instructions and toilets & showers passkeys.</div>
        <p></p>
        <p style="font-family: Tahoma; font-size: 13px; color:red;">Important: Check-out by 1400 on the departure day. Departures between 1400 and 2000 are charged 50% the daily fee.
    </div>
    <p></p>
    <p style="font-family: Tahoma; font-size: 13px; color:blue;">🎶 Would you like to experience live music at the marina?" <a href="https://www.corfumusicexperiences.com/">Join</a> our unique events every Monday, Tuesday and some Wednesdays. 🎶</p>
    <p> </p>
    <p style="font-family: Tahoma; font-size: 13px;">Thank you for staying with us and best regards,</p>
    <div style="font-family: Tahoma; font-size: 13px;">@Model.UserDisplayname</div>
    <p> </p>
    <div style="font-family: Tahoma; font-size: 13px;">Phones: @Model.CompanyPhones</div>
    <div style="font-family: Tahoma; font-size: 13px;">Email: @Model.Email</div>
    <div style="font-family: Tahoma; font-size: 13px;">Website: @Model.Website</div>
    <p> </p>
    <table>
        <tr>
            <td>
                <img alt="" src="https://appbenitsesmarina.com/images.png">
            </td>
        </tr>
    </table>
    <p> </p>
    <div style=" font-family: Tahoma; font-size: 13px;">🚫 This email was created by a computer. Do not reply!</div>
    </div>
</body>

</html>