* {
    --color-background: rgba(255, 255, 255, 60%);
    --color-background-table-header: #ededed;
    --color-button-fab-hover: #f1f1f1;
    --color-flag-border: #000000;
    --color-input-background: #f9f9f9;
    --color-input-error: #ff8a82;
    --color-logo-benitses: #0077b6;
    --color-logo-marina: #000000;
    --color-menu-background: #ffffff;
    --color-secondary: #7BB7DD;
    --color-tab-active: #00ffff0f;
    --color-text: #000000;
    --color-transparent-button-hover: #ffffff;
    --color-transparent-button: #000000;
}