<div *ngIf=isAdmin() id="button-wrapper">
    <button [matMenuTriggerFor]="menu" class="fab fab-with-no-background" mat-icon-button>
        <mat-icon class="material-icons-outlined">arrow_circle_up</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="primary">
        <button (click)="doNavigation('suppliers',true)" mat-menu-item><span>{{ getLabel('suppliers') }}</span></button>
        <button (click)="doNavigation('invoices',true)" mat-menu-item><span>{{ getLabel('expenses') }}</span></button>
        <mat-divider></mat-divider>
        <button (click)="doNavigation('ledgers',true)" mat-menu-item><span>{{ getLabel('ledger') }}</span></button>
        <button (click)="doNavigation('balanceSheet',true)" mat-menu-item><span>{{ getLabel('balanceSheet') }}</span></button>
        <mat-divider></mat-divider>
        <button (click)="doNavigation('banks',true)" mat-menu-item><span>{{ getLabel('banks') }}</span></button>
        <button (click)="doNavigation('paymentMethods',true)" mat-menu-item><span>{{ getLabel('paymentMethods') }}</span></button>
        <button (click)="doNavigation('documentTypes',true)" mat-menu-item><span>{{ getLabel('documentTypes') }}</span></button>
    </mat-menu>
</div>