<div id="form-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        </div>

        <form [formGroup]="form" id="form">
            <div class="group-input-field">
                <!-- Code -->
                <mat-form-field>
                    <mat-label>{{ getLabel('code') }}</mat-label>
                    <input [inputTabStop]="input" class="tabable" formControlName="code" matInput>
                    <mat-error *ngIf="description.hasError('code')">{{ getHint("code") }}</mat-error>
                </mat-form-field>
                <!-- Length -->
                <mat-form-field>
                    <mat-label>{{ getLabel('length') }}</mat-label>
                    <input [inputTabStop]="input" class="tabable" currencyMask formControlName="length" matInput>
                    <mat-error *ngIf="description.hasError('length')">{{ getHint("length") }}</mat-error>
                </mat-form-field>
            </div>
            <div class="group-input-field">
                <!-- Description -->
                <mat-form-field>
                    <mat-label>{{ getLabel('description') }}</mat-label>
                    <input [inputTabStop]="input" class="tabable" formControlName="description" matInput>
                    <mat-error *ngIf="description.hasError('required')">{{ getHint("required") }}</mat-error>
                </mat-form-field>
                <!-- English description -->
                <mat-form-field>
                    <mat-label>{{ getLabel('englishDescription') }}</mat-label>
                    <input [inputTabStop]="input" class="tabable" formControlName="englishDescription" matInput>
                    <mat-error *ngIf="englishDescription.hasError('required')">{{ getHint("required") }}</mat-error>
                </mat-form-field>
            </div>
            <!-- Period Type -->
            <mat-form-field>
                <mat-label>{{ getLabel('periodType') }}</mat-label>
                <input #inputAutoComplete #triggerPeriodType="matAutocompleteTrigger" (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="periodTypes" class="tabable" formControlName="periodType" matInput>
                <div matSuffix style="display:flex">
                    <button (click)="openOrCloseAutoComplete(triggerPeriodType, 'periodType')" mat-icon-button type="button">
                        <mat-icon class="input-suffix material-icons-outlined">expand_more</mat-icon>
                    </button>
                </div>
                <mat-error *ngIf="seasonType.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="!seasonType.hasError('required') && seasonType.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
            </mat-form-field>
            <!-- Hull Type -->
            <mat-form-field>
                <mat-label>{{ getLabel('hullType') }}</mat-label>
                <input #inputAutoComplete #triggerHullType="matAutocompleteTrigger" (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="hullTypes" class="tabable" formControlName="hullType" matInput>
                <div matSuffix style="display:flex">
                    <button (click)="openOrCloseAutoComplete(triggerHullType, 'hullType')" mat-icon-button type="button">
                        <mat-icon class="input-suffix material-icons-outlined">expand_more</mat-icon>
                    </button>
                </div>
                <mat-error *ngIf="hullType.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="!hullType.hasError('required') && hullType.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
            </mat-form-field>
            <!-- Season Type -->
            <mat-form-field>
                <mat-label>{{ getLabel('seasonType') }}</mat-label>
                <input #inputAutoComplete #triggerSeasonType="matAutocompleteTrigger" (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="seasonTypes" class="tabable" formControlName="seasonType" matInput>
                <div matSuffix style="display:flex">
                    <button (click)="openOrCloseAutoComplete(triggerSeasonType, 'seasonType')" mat-icon-button type="button">
                        <mat-icon class="input-suffix material-icons-outlined">expand_more</mat-icon>
                    </button>
                </div>
                <mat-error *ngIf="seasonType.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="!seasonType.hasError('required') && seasonType.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
            </mat-form-field>
            <div class="group-input-field">
                <!-- Net amount -->
                <mat-form-field>
                    <mat-label>{{ getLabel('netAmount') }}</mat-label>
                    <input (blur)="calculateGrossAmountBasedOnNetAmount('netAmount',2)" [inputTabStop]="input" currencyMask class="tabable" formControlName="netAmount" matInput>
                    <mat-error *ngIf="netAmount.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="!netAmount.hasError('required') && netAmount.hasError('min') || netAmount.hasError('max')">{{ getHint("invalidRange") }}</mat-error>
                </mat-form-field>
                <div class="group-input-field">
                    <!-- VAT percent -->
                    <mat-form-field>
                        <mat-label>{{ getLabel('vatPercent') }}</mat-label>
                        <input (blur)="calculateNetAndGrossAmountBasedOnVatPercent('vatPercent',0)" [inputTabStop]="input" currencyMask class="tabable" formControlName="vatPercent" matInput>
                        <mat-error *ngIf="vatPercent.hasError('required')">{{ getHint("required") }}</mat-error>
                        <mat-error *ngIf="!vatPercent.hasError('required') && vatPercent.hasError('min') || vatPercent.hasError('max')">{{ getHint("invalidRange") }}</mat-error>
                    </mat-form-field>
                    <!-- VAT amount -->
                    <mat-form-field>
                        <mat-label>{{ getLabel('vatAmount') }}</mat-label>
                        <input [inputTabStop]="input" currencyMask formControlName="vatAmount" matInput readonly>
                        <mat-error *ngIf="vatAmount.hasError('required')">{{ getHint("required") }}</mat-error>
                        <mat-error *ngIf="!vatAmount.hasError('required') && vatAmount.hasError('min') || vatAmount.hasError('max')">{{ getHint("invalidRange") }}</mat-error>
                    </mat-form-field>
                </div>
                <!-- Gross amount -->
                <mat-form-field>
                    <mat-label>{{ getLabel('grossAmount') }}</mat-label>
                    <input [inputTabStop]="input" currencyMask formControlName="grossAmount" matInput readonly>
                    <mat-error *ngIf="grossAmount.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="!grossAmount.hasError('required') && grossAmount.hasError('min') || grossAmount.hasError('max')">{{ getHint("invalidRange") }}</mat-error>
                </mat-form-field>
            </div>
            <div>
                <div class="stacked-checkboxes">
                    <mat-checkbox formControlName="isIndividual">
                        <span>{{ getLabel("isIndividual") }}</span>
                    </mat-checkbox>
                </div>
            </div>
            <div class="align-bottom">
                <!-- Metadata -->
                <metadata-panel [feature]="feature" [postAt]="form.value.postAt" [postUser]="form.value.postUser" [putAt]="form.value.putAt" [putUser]="form.value.putUser"></metadata-panel>
            </div>
        </form>
    </div>

    <div id="footer">
        <button (click)="onShowFormValue()" class="fab fab-with-no-background" mat-icon-button>
            <span class="material-icons-outlined">pest_control</span>
        </button>
        <div id="align-right">
            <button (click)="onDelete()" *ngIf="form.value.id !== 0" class="delete" mat-flat-button>{{ getLabel("deleteButton") | uppercase }}</button>
            <button (click)="onSave()" [disabled]="!form.valid" class="primary" mat-flat-button>
                <mat-icon *ngIf="!form.valid" class="material-icons-outlined">lock</mat-icon>
                <span>{{ getLabel("saveButton") | uppercase }}</span>
            </button>
        </div>
    </div>

</div>

<mat-autocomplete #hullTypes="matAutocomplete" [displayWith]="autocompleteFields.bind(this, 'description')" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownHullTypes | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #seasonTypes="matAutocomplete" [displayWith]="autocompleteFields.bind(this, 'description')" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownSeasonTypes | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #periodTypes="matAutocomplete" [displayWith]="autocompleteFields.bind(this, 'description')" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownPeriodTypes | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>