<div id="form-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
            <div id="document-type-description">
                <p>{{ getDocumentTypeDetails()[0] }}{{ getDocumentTypeDetails()[1] }}{{ getDocumentTypeDetails()[2] }}</p>
            </div>
            <div id="header-buttons">
                <button class="fab fab-with-no-background transparent" mat-icon-button>
                    <mat-icon [ngClass]="isEmailSent() ? 'vivid-color' : 'pale-color'" class="icon color-blue material-symbols-outlined">email</mat-icon>
                </button>
                <button [matMenuTriggerFor]="menu" class="fab fab-with-no-background" mat-icon-button>
                    <mat-icon class="material-icons-outlined">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" class="primary" xPosition="before">
                    <ng-container *ngTemplateOutlet="actionsMenu"></ng-container>
                </mat-menu>
            </div>
        </div>

        <form [formGroup]="form" id="form">
            <div id="whatever">
                <div id="left-side">
                    <!-- Issue date -->
                    <mat-form-field>
                        <mat-icon class="material-icons-outlined small">lock</mat-icon>
                        <mat-label>{{ getLabel('date') }}</mat-label>
                        <input [inputTabStop]="input" [matDatepicker]="datePicker" formControlName="date" matInput readonly>
                        <mat-datepicker-toggle matIconSuffix [for]="datePicker" disabled></mat-datepicker-toggle>
                        <mat-datepicker #datePicker></mat-datepicker>
                        <mat-error *ngIf="date.hasError('required')">{{ getHint("required") }}</mat-error>
                    </mat-form-field>
                    <!-- Customer -->
                    <mat-form-field>
                        <mat-icon *ngIf="!isEditingNotAllowed()" class="material-icons-outlined small">lock</mat-icon>
                        <mat-label>{{ getLabel('customer') }}</mat-label>
                        <input #inputAutoComplete #triggerCustomer="matAutocompleteTrigger" (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="customers" [readonly]="!isEditingNotAllowed()" class="tabable" dataTabIndex="1" formControlName="customer" matInput>
                        <div matSuffix style="display:flex">
                            <button (click)="openOrCloseAutoComplete(triggerCustomer, 'customer')" [disabled]="!isEditingNotAllowed()" mat-icon-button type="button">
                                <mat-icon class="input-suffix material-icons-outlined">expand_more</mat-icon>
                            </button>
                        </div>
                        <mat-error *ngIf="customer.hasError('required')">{{ getHint("required") }}</mat-error>
                        <mat-error *ngIf="!customer.hasError('required') && customer.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
                    </mat-form-field>
                    <!-- Document type abbreviationEn -->
                    <mat-form-field>
                        <mat-icon *ngIf="!isEditingNotAllowed()" class="material-icons-outlined small">lock</mat-icon>
                        <mat-label>{{ getLabel('documentType') }}</mat-label>
                        <input #inputAutoComplete #triggerDocumentType="matAutocompleteTrigger" (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="documentTypes" [readonly]="!isEditingNotAllowed()" class="tabable" dataTabIndex="2" formControlName="documentType" matInput>
                        <div matSuffix style="display:flex">
                            <button (click)="openOrCloseAutoComplete(triggerDocumentType, 'documentType')" [disabled]="!isEditingNotAllowed()" mat-icon-button type="button">
                                <mat-icon class="input-suffix material-icons-outlined">expand_more</mat-icon>
                            </button>
                        </div>
                        <mat-error *ngIf="documentType.hasError('required')">{{ getHint("required") }}</mat-error>
                        <mat-error *ngIf="!documentType.hasError('required') && documentType.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
                    </mat-form-field>
                    <!-- Payment method -->
                    <mat-form-field>
                        <mat-icon *ngIf="!isEditingNotAllowed()" class="material-icons-outlined small">lock</mat-icon>
                        <mat-label>{{ getLabel('paymentMethod') }}</mat-label>
                        <input #inputAutoComplete #triggerPaymentMethod="matAutocompleteTrigger" (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="paymentMethods" [readonly]="!isEditingNotAllowed()" class="tabable" dataTabIndex="3" formControlName="paymentMethod" matInput>
                        <div matSuffix style="display:flex">
                            <button (click)="openOrCloseAutoComplete(triggerPaymentMethod, 'paymentMethod')" [disabled]="!isEditingNotAllowed()" mat-icon-button type="button">
                                <mat-icon class="input-suffix material-icons-outlined">expand_more</mat-icon>
                            </button>
                        </div>
                        <mat-error *ngIf="paymentMethod.hasError('required')">{{ getHint("required") }}</mat-error>
                        <mat-error *ngIf="!paymentMethod.hasError('required') && paymentMethod.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
                    </mat-form-field>
                    <!-- Remarks -->
                    <mat-form-field class="hide-hint" id="remarks">
                        <mat-icon *ngIf="!isEditingNotAllowed()" class="material-icons-outlined small">lock</mat-icon>
                        <mat-label>{{ getLabel("remarks") }}</mat-label>
                        <input [inputTabStop]="input" [readonly]="!isEditingNotAllowed()" class="tabable" dataTabIndex="4" formControlName="remarks" matInput>
                    </mat-form-field>
                </div>
                <mat-divider [vertical]="true"></mat-divider>
                <div id="right-side">
                    <div formArrayName="items">
                        <div *ngFor="let item of itemsArray; let i = index">
                            <div class="group-input-field" [formGroupName]="i">
                                <div style="width: 9rem;">
                                    <mat-form-field>
                                        <mat-label>{{ getLabel("item-code") }}</mat-label>
                                        <mat-icon *ngIf="!isEditingNotAllowed()" class="material-icons-outlined small">lock</mat-icon>
                                        <input (blur)="onSeekItem($event,i)" [inputTabStop]="input" [readonly]="!isEditingNotAllowed()" class="tabable" formControlName="code" matInput>
                                        <mat-error>{{ getHint("required") }}</mat-error>
                                    </mat-form-field>
                                </div>
                                <div style="width: 9rem;">
                                    <mat-form-field>
                                        <mat-label>{{ getLabel("item-quantity") }}</mat-label>
                                        <mat-icon *ngIf="!isEditingNotAllowed()" class="material-icons-outlined small">lock</mat-icon>
                                        <input (blur)="onCalculateLine(i)" [inputTabStop]="input" [readonly]="!isEditingNotAllowed()" class="tabable" currencyMask formControlName="quantity" matInput>
                                        <mat-error>{{ getHint("required") }}</mat-error>
                                    </mat-form-field>
                                </div>
                                <div style="width: 9rem;">
                                    <mat-form-field>
                                        <mat-label>{{ getLabel("item-price") }}</mat-label>
                                        <mat-icon *ngIf="!isEditingNotAllowed()" class="material-icons-outlined small">lock</mat-icon>
                                        <input (blur)="onCalculateLine(i)" [inputTabStop]="input" [readonly]="!isEditingNotAllowed()" class="tabable" currencyMask formControlName="itemPrice" matInput>
                                        <mat-error>{{ getHint("required") }}</mat-error>
                                    </mat-form-field>
                                </div>
                                <div style="width: 9rem;">
                                    <mat-form-field>
                                        <mat-icon class="material-icons-outlined small">lock</mat-icon>
                                        <mat-label>{{ getLabel("item-sub-total") }}</mat-label>
                                        <input currencyMask formControlName="subTotal" matInput readonly>
                                    </mat-form-field>
                                </div>
                                <div style="width: 9rem;">
                                    <mat-form-field>
                                        <mat-icon class="material-icons-outlined small">lock</mat-icon>
                                        <mat-label>{{ getLabel("item-vat-percent") }}</mat-label>
                                        <input currencyMask formControlName="vatPercent" matInput readonly>
                                        <mat-error>{{ getHint("required") }}</mat-error>
                                    </mat-form-field>
                                </div>
                                <div style="width: 9rem;">
                                    <mat-form-field>
                                        <mat-icon class="material-icons-outlined small">lock</mat-icon>
                                        <mat-label>{{ getLabel("item-vat-amount") }}</mat-label>
                                        <input currencyMask formControlName="vatAmount" matInput readonly>
                                    </mat-form-field>
                                </div>
                                <div style="width: 9rem;">
                                    <mat-form-field>
                                        <mat-label>{{ getLabel("item-gross-amount") }}</mat-label>
                                        <mat-icon *ngIf="!isEditingNotAllowed()" class="material-icons-outlined small">lock</mat-icon>
                                        <input (blur)="onCalculateLine(i)" [inputTabStop]="input" [readonly]="!isEditingNotAllowed()" class="tabable" currencyMask formControlName="grossAmount" matInput>
                                        <mat-error>{{ getHint("required") }}</mat-error>
                                    </mat-form-field>
                                </div>
                                <div style="display: flex; width: 3rem;">
                                    <div matSuffix style="display:flex; margin-top: 4px;">
                                        <button [disabled]="!isEditingNotAllowed()" (click)="onRemoveItem(i)" mat-icon-button tabindex="-1" type="button">
                                            <mat-icon class="red input-suffix material-icons-outlined">delete</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="item-description">
                                {{ getItemDescription(i) }}
                            </div>
                        </div>
                    </div>
                    <div matSuffix style="display:flex; margin-top: 4px;">
                        <button (click)="onAddItem()" [disabled]="!isEditingNotAllowed()" mat-icon-button tabindex="-1" type="button">
                            <mat-icon class="input-suffix material-icons-outlined">add</mat-icon>
                        </button>
                    </div>
                    <div id="sale-totals">
                        <div style="width: 9rem;">
                            <mat-form-field class="hide-hint">
                                <mat-label>{{ getLabel("sale-net-amount") }}</mat-label>
                                <input currencyMask formControlName="saleNetAmount" matInput readonly tabindex="-1">
                            </mat-form-field>
                        </div>
                        <div style="width: 9rem;">
                            <mat-form-field class="hide-hint">
                                <mat-label>{{ getLabel("sale-vat-amount") }}</mat-label>
                                <input currencyMask formControlName="saleVatAmount" matInput readonly tabindex="-1">
                            </mat-form-field>
                        </div>
                        <div style="width: 9rem;">
                            <mat-form-field class="hide-hint">
                                <mat-label>{{ getLabel("sale-gross-amount") }}</mat-label>
                                <input currencyMask formControlName="saleGrossAmount" matInput readonly tabindex="-1">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>

    <div id="footer">
        <button (click)="onShowFormValue()" class="fab fab-with-no-background" mat-icon-button>
            <span class="material-icons-outlined">pest_control</span>
        </button>
        <div id="align-right">
            <button (click)="onSave()" [disabled]="isFormInvalid()" class="no-right-border-radius primary" mat-flat-button>
                <mat-icon *ngIf="isFormInvalid()" class="material-icons-outlined">lock</mat-icon>
                <span>{{ getLabel("saveButton") | uppercase }}</span>
            </button>
            <button [disabled]="isFormInvalid()" [matMenuTriggerFor]="saveMenu" class="no-left-border-radius primary-darker" mat-flat-button>
                <mat-icon class="big material-symbols-outlined">expand_less</mat-icon>
            </button>
            <mat-menu #saveMenu="matMenu" class="primary">
                <ng-container *ngTemplateOutlet="saveMenuTemplate"></ng-container>
            </mat-menu>
        </div>
    </div>

</div>

<mat-autocomplete #customers="matAutocomplete" autoActiveFirstOption [displayWith]="autocompleteFields.bind(this, 'description')">
    <mat-option *ngFor="let option of dropdownCustomers | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #documentTypes="matAutocomplete" [displayWith]="autocompleteFields.bind(this, 'abbreviationEn')" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownDocumentTypes | async" [value]="option">
        <div class="autocomplete-document-type">
            <span>{{ option.abbreviationEn }}</span>
            <span>{{ option.batch }}</span>
        </div>
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #paymentMethods="matAutocomplete" autoActiveFirstOption [displayWith]="autocompleteFields.bind(this, 'description')">
    <mat-option *ngFor="let option of dropdownPaymentMethods | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<ng-template #actionsMenu xPosition="before">
    <button mat-menu-item>
        <span>{{ getLabel('printInvoice') }}</span>
    </button>
    <button (click)="onDoSubmitTasks()" mat-menu-item>
        <span>{{ getLabel('submitInvoice') }}</span>
    </button>
</ng-template>

<ng-template #saveMenuTemplate xPosition="before">
    <button (click)="onSave()" mat-menu-item>
        <span>{{ getLabel('saveAndUpload') }}</span>
    </button>
</ng-template>