<div id="form-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
            <div id="header-buttons">
                <button class="fab fab-with-no-background transparent" mat-icon-button>
                    <mat-icon [ngClass]="isEmailSent() ? 'vivid-color' : 'pale-color'" class="icon blue material-symbols-outlined">email</mat-icon>
                </button>
                <button [matMenuTriggerFor]="menu" class="fab fab-with-no-background" mat-icon-button>
                    <mat-icon class="material-icons-outlined">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" class="primary" xPosition="before">
                    <ng-container *ngTemplateOutlet="actionsMenu"></ng-container>
                </mat-menu>
            </div>
        </div>

        <form [formGroup]="exampleForm" novalidate>
            <!-- <hello [fg]="exampleForm"></hello> -->
            <hello></hello>
            <!-- <input matInput placeholder="Greeting" type="text" formControlName="bank"> -->
            <!-- <hello [formGroup]="exampleForm"></hello> -->
        </form>

    </div>

    <div id="footer">
        <button (click)="onShowFormValue()" class="fab fab-with-no-background" mat-icon-button>
            <span class="material-icons-outlined">pest_control</span>
        </button>
        <div id="align-right">
            <button (click)="onSave()" [disabled]="!form.valid || form.value.invoiceId != ''" class="primary" mat-flat-button>
                <mat-icon *ngIf="!form.valid || form.value.invoiceId != ''" class="material-icons-outlined">lock</mat-icon>
                <span>{{ getLabel("saveButton") | uppercase }}</span>
            </button>
        </div>
    </div>

</div>

<mat-autocomplete #customers="matAutocomplete" (optionSelected)="updateFieldsAfterCustomerSelection($event.option.value) " autoActiveFirstOption [displayWith]="autocompleteFields.bind(this, 'description')">
    <mat-option *ngFor="let option of dropdownCustomers | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #documentTypes="matAutocomplete" (optionSelected)="updateFieldsAfterDocumentTypeSelection($event.option.value)" [displayWith]="autocompleteFields.bind(this, 'abbreviation')" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownDocumentTypes | async" [value]="option">
        <div class="autocomplete-document-type">
            <span>{{ option.abbreviation }}</span>
            <span>{{ option.batch }}</span>
        </div>
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #paymentMethods="matAutocomplete" autoActiveFirstOption [displayWith]="autocompleteFields.bind(this, 'description')">
    <mat-option *ngFor="let option of dropdownPaymentMethods | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<ng-template #actionsMenu xPosition="before">
    <button mat-menu-item>
        <span>{{ getLabel('printInvoice') }}</span>
    </button>
    <button (click)="onDoSubmitTasks()" mat-menu-item>
        <span>{{ getLabel('submitInvoice') }}</span>
    </button>
</ng-template>
<!-- {{ exampleForm.value | json }} -->

<!-- <form [formGroup]="exampleForm" novalidate>
    <input matInput placeholder="Greeting" type="text" formControlName="greeting">
    <hello [form]="exampleForm"></hello>
</form> -->