<form [formGroup]="form" id="form">
    <mat-form-field>
        <mat-label>{{ getLabel("sale-qty") }}</mat-label>
        <input currencyMask formControlName="saleQty" matInput readonly>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{ getLabel("sale-sub-total") }}</mat-label>
        <input currencyMask formControlName="saleSubTotal" matInput readonly>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{ getLabel("sale-vat-amount") }}</mat-label>
        <input currencyMask formControlName="saleVatAmount" matInput readonly>
    </mat-form-field>
    <mat-form-field>
        <mat-label>{{ getLabel("sale-gross-amount") }}</mat-label>
        <input currencyMask formControlName="saleGrossAmount" matInput readonly>
    </mat-form-field>
</form>